<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>

<div class="titulocalendario">
  <p>
    RESUMEN DIARIO DE HABITACIONES
  </p>
  <p>
    <%=link_to "<", :action => "daily_show", :day => @before.day, :month => @before.month, :year => @before.year, :origin => @origin, :type => @type%>&nbsp;
      <%=day_of_the_week(@fecha.strftime("%u").to_i)%>, <%=(@fecha.strftime("%d de %B de %Y")).upcase%>&nbsp;
    <%=link_to ">", :action => "daily_show", :day => @after.day, :month => @after.month, :year => @after.year, :origin => @origin, :type => @type%>
  </p>
</div>

<%for habitacion in Habitacion.all%>

<p>
  <%=h (habitacion.descripcion)%>
</p>

<%end%>